<div class="landing-page">
  <p class="well well-lg col-md-8 col-md-offset-2 text-center">NYCHA needs $6 billion dollars for capital improvement work which includes: brick work, façade and roof repairs, elevator replacement, front and rear entrance renovations, heating upgrades and kitchen and bathroom renovations.<br><br>Learn more about these repair issues:</p>

</div><br>
<div class= "col-md-8 col-md-offset-2 text-center">
<a href="<%=violations_path%>"><button class="btn btn-default">view charts</button></a>
</div>