<h4 class="chart-heading col-md-offset-4">Brooklyn Repair Issues by Type:</h3>
<svg class="bk-chart col-md-offset-1"></svg><br><br><br>
<script type="text/javascript">

$(document).ready(renderChart(gon.bk_data, ".bk-chart"));</script>
