<h4 class="chart-heading col-md-offset-4">Manhattan Repair Issues by Type:</h3>
<svg class="man-chart col-md-offset-1"></svg><br><br><br>
<script type="text/javascript">
renderChart(gon.man_data, ".man-chart");</script>