<%= render partial: "manhattan_bar"%>
<div class="col-md-offest-4">
<a href="/manhattan"><button class="btn btn-primary index-btn">See Breakdown</button></a>
</div><br>

<%= render partial: "bx_bar"%>
<div class="col-md-offest-4">
<a href="/bronx"><button class="btn btn-primary index-btn">See Breakdown</button></a>
</div><br>
<%= render partial: "bk_bar"%>
<div class="col-md-offest-4">
<a href="/brooklyn"><button class="btn btn-primary index-btn">See Breakdown</button></a>
</div><br>

<!-- <h4 class="chart-heading col-md-offset-4">Manhattan Repair Issues by Type:</h3>
<svg class="chart col-md-offset-1"></svg><br><br><br>
<a href="/manhattan"><button>More</button></a>
<h4 class="chart-heading col-md-offset-4">Brooklyn Repair Issues by Type:</h3>

<h4 class="chart-heading col-md-offset-5">Subcategories:</h3><br>
 <svg class="sunburst col-md-offset-3"></svg> --> 



