<%= render partial: "manhattan_bar"%>
<a href="/manhattan"><button>See Breakdown</button></a>

<%= render partial: "bx_bar"%>
<%= render partial: "bk_bar"%>

<!-- <h4 class="chart-heading col-md-offset-4">Manhattan Repair Issues by Type:</h3>
<svg class="chart col-md-offset-1"></svg><br><br><br>
<a href="/manhattan"><button>More</button></a>
<h4 class="chart-heading col-md-offset-4">Brooklyn Repair Issues by Type:</h3>

<h4 class="chart-heading col-md-offset-5">Subcategories:</h3><br>
 <svg class="sunburst col-md-offset-3"></svg> --> 



