<h4 class="chart-heading col-md-offset-4">Manhattan Repair Issues by Type:</h3>
<svg class="chart col-md-offset-1"></svg><br><br><br>
<h4 class="chart-heading col-md-offset-5">Subcategories:</h3>
<svg class="sunburst col-md-offset-3"></svg>

