.chart div {
  background-color: steelblue;
  color: white;
  text-align: right;
  padding-top: 1px;
  margin-top: 1px;
}

.chart {
  width: 960px;
}
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart rect:hover {
  fill: #56728E;
}

.bar {
  fill: steelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

.sunburst {
  width: 800px;
  height: 1000px;
}

/*.sunburst svg {
  margin-left: 50px;
}
*/
.center-sun {
  margin-left: 100px;
}

.chart-heading {
  color: steelblue;
}

