.chart div {
  background-color: steelblue;
  color: white;
  text-align: right;
  padding-top: 1px;
  margin-top: 1px;
}

.chart {
  width: 10000px;
}
.chart g {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}